APP_NAME=shop
APP_ENV=local
APP_KEY=base64:iO05nw/gXbi0NwDHJ0kywVYsxmtC4wZ1NAJRPPFcWKo=
APP_DEBUG=true
APP_URL=http://shop.host
TIMEZONE=Asia/Shanghai
# locale settings
APP_LOCALE=zh_CN
APP_FALLBACK_LOCALE=zh_CN
APP_FAKER_LOCALE=zh_CN
# manage settings
VITE_MANAGE_PREFIX=manage
# foreground settings
VITE_FOREGROUND_PREFIX=foreground
# logging settings
LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
# database settings
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel-shop
DB_USERNAME=root
DB_PASSWORD=
# redis settings
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
# session settings
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
# cache settings
CACHE_STORE=redis
# queue settings
QUEUE_CONNECTION=redis
# filesystem settings
FILESYSTEM_DISK=local
FILESYSTEM_DISK_MATERIAL=public
OSS_ACCESS_KEY=
OSS_SECRET_KEY=
OSS_ENDPOINT=
OSS_BUCKET=
# broadcast settings
BROADCAST_CONNECTION=log
# scout settings
SCOUT_DRIVER=
MEILISEARCH_HOST=
MEILISEARCH_KEY=

APP_MAINTENANCE_DRIVER=file
#APP_MAINTENANCE_STORE=database
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12
# sms settings
SMS_ACCESS_KEY=
SMS_ACCESS_SECRET=
SMS_SIGN_NAME=
SMS_PHONE_CODE=
# wechat official settings
WECHAT_OFFICIAL_ACCOUNT_APPID=
WECHAT_OFFICIAL_ACCOUNT_SECRET=
WECHAT_OFFICIAL_ACCOUNT_TOKEN=
WECHAT_OFFICIAL_ACCOUNT_AES_KEY=
# wechat mini program settings
WECHAT_MINI_APP_APPID=
WECHAT_MINI_APP_SECRET=
WECHAT_MINI_APP_TOKEN=
WECHAT_MINI_APP_AES_KEY=
# kuai di 100 settings
KUAIDI100_HOST=
KUAIDI100_CUSTOMER=
KUAIDI100_KEY=
# vue app url
VUE_APP_URL=
