:root {
    --main-color: #278ff0;
    --main-color-80: #278ff080;
    --main-color-20: #278ff020;
    --page-bg-color: #f2f2f2;
    --red-color: #f71111;
    --color-text: #333;
    --color-text-desc: #999;
    --input-bg-color: #f5f5f5;
    --base-font-size: 14px;
    --manage-color:#1050a9;
    --manage-color-over:#FFFFFF26
}

body, html {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#app, body, html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
    font-size: var(--base-font-size);
}

body {
    margin: 0;
}

a:focus {
    outline-style: none;
    -moz-outline-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

@keyframes anicode {
    0% {
        top: -2px;
    }
    50% {
        top: 5px
    }
    100% {
        top: -2px
    }
}

@keyframes anicode1 {
    0% {
        top: -2px;
    }
    50% {
        top: 5px
    }
    100% {
        top: -2px
    }
}

.public-inner {
    width: 1200px;
    margin: 0 auto;
}

.s-flex {
    display: flex;
}

.flex-shrink {
    flex-shrink: 0;
}

.flex-1 {
    flex: 1;
}

.flex-dir {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.jc-ct {
    justify-content: center;
}

.ai-ct {
    align-items: center;
}

.ai-bs {
    align-items: baseline;
}

.jc-bt {
    justify-content: space-between;
}

.jc-ad {
    justify-content: space-around;
}

.jc-fe {
    justify-content: flex-end;
}

.jc_fs {
    justify-content: flex-start;
}

.jc_se {
    justify-content: space-evenly;
}

.ai_fe {
    align-items: flex-end;
}

.ac-fs {
    align-content: flex-start;
}

.ac-fe {
    align-content: flex-end;
}

.ai-fs {
    align-items: flex-start;
}

/*文本省略*/
.elli-1, .ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.elli-2, .ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
}

.elli-3, .ellipsis-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
}

.tc {
    text-align: center;
}

/*字体大小*/
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs26 {
    font-size: 26px;
}

.fs28 {
    font-size: 28px;
}

.fs30 {
    font-size: 30px;
}

.fs32 {
    font-size: 32px;
}

.fs36 {
    font-size: 36px;
}

.fs40 {
    font-size: 40px;
}

/*字体颜色*/

.co-999 {
    color: #999;
}

.co-333 {
    color: #333;
}

.co-3D {
    color: #3D3D3D;
}

.co-000 {
    color: #000;
}

.co-ddd {
    color: #ddd;
}

.co-fff {
    color: #fff;
}

.co-666 {
    color: #666;
}

.bg-fff {
    background: #fff;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.cu-p {
    cursor: pointer;
}

.fw-b{
    font-weight: bold;
}

.pd20{
    padding: 20px;
}
.common-wrap{
    background: #ffffff;
    padding: 20px;
    min-height: 100%;
}
.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
